body {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	
	display: inline-flex;
	justify-content: center;
	
	width: 100%;
	height: 100%;
}

/* HeadBlock incl. Logo and Navigation */

header {
  position: fixed;
  margin: 0 auto;
  width: 100%;
  height: 79px;

  background-color: white;
  border-bottom: 1px solid #000;
  
  display: flex;
  align-items: center;
  justify-content: center;
}
.innerHeader {
  display: flex;
  align-items: center;
  z-index: 10;
  
  width: 85%;
  
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
}
header a {
  color: black;
}
.logo {
  display: inline-flex;
  align-items: center;
  flex-grow: 3;

}
.logo span, img {
  padding: 10px 10px;
}
nav {
  display: inline-flex;
  justify-content: flex-end;
  flex-grow: 1;
}
nav span {
  padding: 20px; 10px;
}

/* MainSite with 3 columns */

#main {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  width: 85%;
}
.column {
  display: flex;
  flex-flow: column;
}
.column.large {
  width: 630px;
}
.column.medium {
  width: 300px;
}
.column.small {
  width: 240px;
}

  /* titleNews */
  .titleNews {
  
  }
  .titleNewsImage {
    background-image: url(../images/img-story-main.png);
    height: 300px;
  }
  .titleNewsImageText {
    font-size: 40px;
  }
  .titleNewsContent {
    padding: 20px 0px;
  }
  
  /* mainNews following titleNews */
  .mainNewsImage_01 {
    height: 300px;
    background-image: url(../images/img-story-2.png);
  }
  .mainNewsImage_02 {
    height: 300px;
    background-image: url(../images/img-story-3.png);
  }
  .mainNewsContent {
    
  }
  .articles {
    display: flex;
    justify-content: space-between;
    flex-flow: column;
  }
  
  /* centerNews */
  .centerNewsImage_01 {
    height: 300px;
    background-image: url(../images/img-story-1.png);
  }
  
  /* sideNews */
  
  
  /* fonts */
  .story {
    font-family: Georgia;
    font-size: 17px;
    color: black;
  }
  .imgtext {
    font-family: Georgia;
    font-weight: bold;
    font-size: 30px;
    color: white;
    text-align: center;
  }
  
/* Footer */
  
/* DEBUG */
.border {
  border: 1px solid #F00;
}